# 1. Les variables

#### 1.1 Dans les cellules de code ci-dessous, quel est, pour chaque cellule, le type de chaque variable ?

In [1]:
count = 5
#Int (entier)

In [2]:
greeting = "Hello World"
#String

In [3]:
price = 2.5
#Float

In [4]:
is_active = True
#Bool

#### 1.2 Maintenant, vous allez devoir convertir des objets d'un certain type, en un autre type d'objet.

Convertissez la variable `count` en float.

In [5]:
count = 5

count = float(count)

print(count)

type(count)

5.0

float

Convertissez la variable `price` en int

In [6]:
price = 5.4

price = int(price)

print(price)

5

Que pouvez-vous remarquer ?

Réponse: Cela supprime le chiffre après la virgule

Trouvez le moyen d'arrondir la variable `temperature`.

In [7]:
temperature = 5.3

temperature_round = round(temperature)

print(temperature_round)

type(temperature_round)

5

int

In [8]:
price = 2.468

price_round = round(price, 2)

print(price_round)

2.47

Après avoir arrondi la variable `temperature`, est-ce que c'est toujours un `float` ?

Réponse: No, now it's an int

Ci-dessous, est-ce que height est un `int` ?

In [9]:
height = 6.0

type(height)

float

Réponse:No, it's a float

# 2. Les entrées/sorties

Affichez le message suivant : "Hello world".

In [10]:
print("Hello world !")

Hello world !

Demandez à l'utilisateur s'il fait beau aujourd'hui.

In [ ]:
input("Est-ce qu'il fait beau aujourd'hui ? ")

# 3. Tout ensemble !

Maintenant tu vas combiner tout ce que tu as appris jusqu'à présent !

#### 3.1 Première interaction avec l'utilisateur
Réalisez les étapes suivantes dans l'ordre :
 - Demande à l'utilisateur son age et stocke-le dans une variable de type `ìnt`.
 - Vérifie le type de la variable.
 - Affiche l'âge de l'utilisateur.

#### 3.2 Inversion de deux variables

Réalisez les étapes suivantes dans l'ordre :
 - Demande à l'utilisateur de rentrer deux valeurs et stocke-les dans deux variables différentes (par exemple `x` et `y`).
 - Effectue l'échange des valeurs entre ces deux variables.
 - Affiche la valeur des deux variables.